.BG{
    width: 100%;
    background-color: #97DEFF;
    border-radius: 0 20% 70% 0;
    position: fixed;
    z-index: -1;
}

.BG2{
width: 100%;
height: 100vh;
border-radius: 50% 0 80% 0% ;
background-color: #C9EEFF;
}

.clear{
clear: both;
}

.Login-Header{
    text-align: center;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: 400;
}

.Main-Row{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Register-Col{
    border-radius: 70% 0 0 32%;
    background-color: #ff9b9b;
    height: 100%;
}

.User-Verify{
    border-radius: 00% 30% 70% 0%;
    background-color: #ff9b9b;
    height: 100%;
}

.UserVerify-Ul{
    list-style:decimal;
    display: block;
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 1.2rem;
    font-weight: 200;
}

.UserVerify-Li{
    display: block;
    color: black;
}

.overall{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: left;
    /* flex-direction: column; */
}

.E-det{
    text-align: center;
    width: 100%;
}

.main-container-login {
    padding:1em;
    border-radius: 0.19em;
    width: 50%;
    box-shadow: 0 0 0.2em;
    margin: auto auto;
}

.main-container{
    padding:1em;
    border-radius: 0.19em;
    width: 50%;
    box-shadow: 0 0 0.2em;
    margin: auto auto;
}

.sub-container-1{
    margin-top: 0em;
    padding: 1em 2em 1em 1em;
    border-radius: 0 0.19em 0.19em 0.19em;
    background: rgba(0, 0, 0 ,0.01)
}

.sub-container-2{
    height: 50%;
    width: 50%;
}

.login-button{
    border: 0;
    outline: 0;
}

.forgot-password{
    color:black;
    margin-left: 40%;
}

.forgot-password:hover{
    color:black;
    text-decoration:underline solid 0.1em;
}

.disabled-button{
    border: none;
    border-radius: 0.19em 0.19em 0 0;
    color: black;
    background: rgba(0,0,0,0.01);
    padding: 0.26em 0.5em;
}

.active-button{
    color: black;
    background: #ff9b9b;
    border-radius: 0.19em;
    margin: 0.5em;
}

/*
.active-button:hover {
    background-color: #ffbf00;
    box-shadow: 0 0 1em #ffbf00;
}
*/

.final-button {
    padding: 0.5em;
    margin: 0.5em;
    width: 100%;
    cursor: pointer;
    font-weight: 550;
    font-weight: 700;
    max-height: 5.5vh;
    letter-spacing: 0.04em;
    border:none;
    outline:none;
    color:white;
    background-color:#5f2f87;
}

.final-button-ap {
    padding: 0.5em;
    margin: 0.5em;
    margin-left: 1.2em;
    cursor: pointer;
    font-weight: 550;
    font-weight: 700;
    max-height: 5.5vh;
    border:none;
    outline:none;
    color:white;
    background-color:#5f2f87;
}

.resend-button{
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    font-weight: 550;
    font-weight: 700;
    letter-spacing: 0.04em;
    max-height: 5.5vh;
    border:none;
    outline:none;
    color:white;
    background-color:#5f2f87;
}

/* .final-button{
    background-color: #008037;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em;
} */

/*
.final-button:hover{
    background-color: #008037;
    box-shadow: 0 0 1em #008037;
}
*/

/* .final-label{
    margin: auto;
    padding: auto;
    font-size: 1em;
} */

.end-icons{
    margin-left: 0.5em;
}

.end-icons-err{
    margin-left: 0.1em;
    font-size: 0.75em;

}

.label-attributes{
    width: 100%;
    margin-left: 1em;
    margin-bottom: 0.5em;
    padding: 0em;
    color: black;
    font-size: 1.2em;
    float: left;
    display: block;
}

.admin-label-attributes{
    color: black;
    display: inline;
    margin-left: 1em;
}

.label-log-attributes{
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding: 0em;
    color: black;
    font-size: 1.2em;
    float: left;
    display: block;
}

.input-attributes{
    margin-bottom: 0.5em;
    margin-left: 1.2em;
    padding: 0;
    border: 0;
    outline: 0;
    border-bottom:0.1em solid black;
    background: transparent;
    color: black;
    font-size: 1em;
    float: left;
}

.input-log-attributes{
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    padding: 0;
    border: 0;
    outline: 0;
    border-bottom:0.1em solid black;
    background: transparent;
    color: black;
    font-size: 1em;
    float: left;
}

.img-attributes{
    height: 20%;
    width: 20%;
    margin: 1em;
}

.option-attributes{
    color: black;
}

/* .header{
    color: black;
    font-family: 'Allison', cursive;
    font-size: 5em;
} */

.verify-admin {
    margin-left: 1.5em;
}

@media screen and ( max-width : 1200px ) {
    .main-container-login{
        width: 70%;
        padding: 0.5em;
    }

    .main-container{
        width: 60%;
        padding: 0.5em;
    }
}

@media screen and ( max-width : 760px ) {
    .min-input, .min-input-2{
        width: 100%;
    }
    
    .main-container-login{
        width: 90%;
    }

    .main-container{
        width: 90%;
    }
    .col8{
        width: 100%;
    }
    .overall{
        height: fit-content;
    }

.forgot-password{
    color:black;
    margin-left: 35%;
}

.input-attributes {
    width: 100%;
}

.col-4, .w-75, .overall {
    width: 100%;
}

}